/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 60%; 
  height: auto; 
  margin: 20px auto;
}
.table {
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
}

.error-message::before {
  content: '⚠️';
  margin-right: 0.25rem;
}
